/* Edge Style Tab Shadows */

/* #nav-bar {
  box-shadow: 0 -1px 2px -1px #0004 !important;
} */

/* :root[lwthemetextcolor="bright"] #nav-bar {
  box-shadow: 0 -1px 2px -1px #0006 !important;
} */

.tabbrowser-tab[visuallyselected] .tab-background {
  box-shadow: 0 2px 4px #0005, 0 -1px 2px -1px #0004 !important;
}

:root[lwthemetextcolor="bright"] .tabbrowser-tab[visuallyselected] .tab-background, :root[lwthemetextcolor="bright"] {
  box-shadow: 0 2px 4px #0008, 0 -1px 2px -1px #0006 !important;
}

#TabsToolbar>.toolbar-items {
  margin-top: -2px !important;
}

.tabbrowser-tab, #TabsToolbar-customization-target> :not(#tabbrowser-tabs), #TabsToolbar #tabs-newtab-button,
/* no ::part workaround - may have side effects */

#scrollbutton-up[part="scrollbutton-up"]:not(.menupopup-scrollbutton), #scrollbutton-down[part="scrollbutton-down"]:not(.menupopup-scrollbutton) {
  margin-top: 2px !important;
}